.header{
  text-align: center;
  margin-bottom: 30px;
  position: relative;
  background: #000;
  color: #fff;
  font-size: 1.5rem;
}
.header__heading{
  line-height: 100px;
  text-transform: uppercase;
}

@media(max-width: 1200px){
  .header{
    margin-bottom: 40px;
    font-size: 1.2rem;
  }
  .header__heading{
    line-height: 70px;
  }
}
@media(max-width: 900px){
  .header{
    margin-bottom: 35px;
    font-size: 1rem;
  }
  .header__heading{
    line-height: 50px;
  }
}
@media(max-width: 700px){
  .header{
    margin-bottom: 25px;
    font-size: 14px;
  }
  .header__heading{
    line-height: 35px;
  }
}
@media(max-height: 642px){
  .header{
    margin-bottom: 25px;
    font-size: 10px;
  }
  .header__heading{
    line-height: 20px;
  }
}