.header{
  text-align: center;
  margin-bottom: 50px;
  position: relative;
  background: #000;
  color: #fff;
  font-size: 1.5rem;
  transition: 1s;
}
.header:hover{
  background: #fff;
  color: #000;
  outline: 1px solid black;
}
.header__heading{
  line-height: 100px;
  text-transform: uppercase;
}

@media(max-width: 1200px){
  .header{
    margin-bottom: 40px;
    font-size: 1.2rem;
  }
  .header__heading{
    line-height: 70px;
  }
}
@media(max-width: 900px){
  .header{
    margin-bottom: 35px;
    font-size: 1rem;
  }
  .header__heading{
    line-height: 50px;
  }
  .header:hover{
    background: #000;
    color: #fff;
    outline:none;
  }
}
@media(max-width: 700px){
  .header{
    margin-bottom: 25px;
    font-size: 14px;
  }
  .header__heading{
    line-height: 35px;
  }
}
@media(max-height: 700px){
  .header{
    margin-bottom: 25px;
    font-size: 20px;
  }
  .header__heading{
    line-height: 50px;
  }
}